		<div class="wrapper wrapper_padding clearfix">
			<div class="col-1 about homepage_content">
				<h2>About</h2>
				<hr>
				<p>Oi eu sou o Goku</p>

			</div>

			<div class="col-2 homepage_content">
				<h2>Posts</h2>
				<hr>
				
				<% @posts.each do  |post|%>
					<h3><a href="#"><%= link_to post.title, post %></a></h3>
					<p class="date"><%= post.created_at.strftime("%A, %b %d")%></p>
				
				<% end %>
			
			</div>

			<div class="col-3 homepage_content">
				<h2>Projects</h2>
				<hr>

				<% @projects.each do |project| %>
				
					<h3><a href=""><%= link_to project.title, project %></a></h3>
					<p class="date"><%= project.created_at.strftime("%A, %b %d")%></p>
				
				<% end %>
				
			</div>
		</div>